@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*{
font-family: 'Playfair Display';
font-weight: normal;
letter-spacing: .1rem;
margin:0;
padding:0;
}

html{
height:100%; /*needed for footer. plain magic*/
}

body{
background: #F5E39E !important;
display: flex;
flex-direction: column;
min-height: 100%;
}

.main{
width:80%;
margin: 50px auto;
}

footer{
width:100%;
margin-top: auto;
/*bottom:0;*/
/*flex-shrink: 0;*/
background-color: #191512;
color: #F5E39E;
text-align: center;
}


/*--------HEADER AND NAVBAR-------------*/

header{
/*width:100%;*/
background-color: #191512;
color: #F5E39E;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 5%; /*30px from top and bottom, 10% from sides*/
/*top:0;
text-align: center;*/
}

header .nav-links{
list-style: none;
}

header .logo{
display: flex;
align-items: center;
}

header .logo .superheader{
font-size: 2.5em;
font-weight: 700;
}
header .logo .smaller-superheader{
font-family: 'Tangerine';
font-size: 2em;
/*letter-spacing: 3px;
word-spacing: 7px;*/
}

header .nav-links li,
header .logo .logo-l{
display: inline-block;
padding: 0px 20px;
}

header .nav-links li{
font-size: 24px;
}

/*header li a{
color:white;
text-decoration: none;
}*/

header a:link,
header a:visited{
color: #F5E39E;
text-decoration: none;
font-weight: bold;
}

header a:hover{
color: white;
}
/*-----------------LINK ANIMATION--------------------*/
.nav-link {
  background-image: linear-gradient(to right, #FA9E0D, #FA9E0D 50%, #F5E39E 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-link:before{
  content: '';
  background: #FA9E0D;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover{
background-position: 0;
}

nav-link:hover::before{
  width: 100%;
}
/*------------------------------------------------------*/




/*----------------HOMEPAGE & SUBHEADER-------------------*/
.home-subheader{
position: relative;
overflow: hidden;
width: 100%;
/*height: 25em;*/
background: #824a01;
display: flex;
justify-content: center;
}

.home-subheader .subheader-content{
width:60%;
padding: 100px;
position: relative;
z-index: 2;
color: white;
text-align:center;
text-justify: inter-word;
}

.home-subheader #back-pic{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: auto;
opacity: 0.5;
min-height: 620px;
min-width: auto;
}

.home-btn {
cursor: pointer;
appearance: none;
background-color: #191512;
border: 2px solid #191512;
border-radius: 15px;
box-sizing: border-box;
color: #F5E39E;
display: inline-block;
font-size: 16px;
/*margin: 0;
min-height: 60px;
min-width: 0;*/
/*outline: none;*/
padding: 16px 24px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
will-change: transform;
}

.home-btn:disabled {
pointer-events: none;
}

.home-btn:hover {
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-5px);
}

.home-btn:active {
box-shadow: none;
transform: translateY(0);
}

/*-----------------------------------------*/


/*----------------GALLERY-----------------*/
.cards .card{
margin-top: 30px;
}

.card .card-img-top{
height:40vh;
object-fit: cover;
}

/*.card .card-img-top img{

}*/

.card .wishlist-btn{
background-color: #fc0330;
padding: 10px;
color: #fff !important;
border-radius: 5px;
border: 2px solid #db021f;
z-index:2000;
}

.card .unwishlist-btn{
background-color: #7303fc;
padding: 10px;
color: #fff !important;
border-radius: 5px;
border: 2px solid #3c0185;
z-index:2000;
}

.card a:link,
.card a:visited{
color: #dbdbd9;
text-decoration: none;
font-weight: bold;
}

.card a:hover{
color: #fff;
}

/*.modal{
text-align: center;
}*/
/*.modal-content {
width:auto !important;
}*/

.modal-body{
text-align: center;
max-height: 75vh;
max-width: 75vw;
/*overflow-y: auto;*/
}

.modal-body img{
width:auto;
height:100%;
}
/*----------------------------------------*/



/*---------MESSAGES TABLE SORTING-----------*/
table.dataTable > thead > tr > th:not(.sorting_disabled),
table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 30px;
}
table.dataTable > thead .sorting,
table.dataTable > thead .sorting_asc,
table.dataTable > thead .sorting_desc,
table.dataTable > thead .sorting_asc_disabled,
table.dataTable > thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.dataTable > thead .sorting:before, table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.5em;
  display: block;
  opacity: 0.3;
}

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:before {
  right: 1em;
  content: "↑";
}
table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "↓";
}
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:after {
  opacity: 1;
}
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  opacity: 0;
}

th > a {
  color: #f454f00;
  text-decoration: underline;
  background-color: transparent;
}

th > a:hover {
  color: #343434;
  text-decoration: underline;
}
/*------------------------------------------*/

/*-------------PAGINATION-------------------*/
.pagination a .active{
color: red;
}
/*-----------------------------------------*/

/*-----------------FORMS-------------------*/
form{
padding:20px;

}

form .form-floating{
margin-top: 20px;
left: auto !important;
}

form .form-floating label{
left: auto !important;
}

form button{
margin-top: 20px;
height: auto;
width: auto;
padding: 10px;
border-radius: 5px;
background-color: #FA9E0D;
border: 2px #191512;
}

#profile-edit{
width:40%;
margin:0;
align-items: center;
}

.form-wrapper{
text-align: center;
}

#login {
width: 50%;
display: inline-block;
text-align: left;
}
/*--------------------------------------*/

/*----------------ABOUT PAGE---------------*/
.carousel-item{
width: 100vw;
height: 80vh;
}

.carousel-img-container img{
object-fit: cover;
}

.carousel-img-container {
display: inline-block;
position: relative;
width: 100%;
height: 100%;
}

.carousel-img-container::after {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
box-shadow:0px -150px 100px 0px #191512 inset;
}
/*-----------------------------------------*/