*{
margin:0;
padding:0;
}

footer{
width:100%;
bottom:0;
background-color: black;
color: white;
text-align: center;
}

header{
width:100%;
background-color: black;
color: white;
display: inline-block;
top:0;
text-align: center;
}

.header nav li{
float: right;
margin-right: 30px;
}

.main{
padding-top:10em;
width: 70%;
margin: 0 auto; /* Center the DIV horizontally */
min-height: 100vh;
}

li a{
color:white;
text-decoration: none;
}