<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div th:replace="header :: header"></div>

    <div class="main">

        <div th:each="error : ${#fields.errors('contact.*')}" th:text="${error}"></div>
        <!--${#fields.errors('contact.*')} will fetch error available inside fields of bean Contact, iterating through error list -->
        <form action="saveMsg" method="post" th:object="${contact}">
            <input type="text" th:field="*{name}" placeholder="Your Name" />
            <input type="text" th:field="*{mobileNum}" placeholder="Your Mobile Number"/>
            <input type="text" th:field="*{email}" placeholder="Your Email" />
            <input type="text" th:field="*{subject}" placeholder="Subject"/>
            <textarea th:field="*{message}" placeholder="Type your message here"></textarea>
            <button>Send Message</button>
        </form>

    </div>

    <div th:replace="footer :: footer"></div>

</body>
</html>