<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div th:replace="header :: header"></div>
    <div class="main">

            <h3 th:text="${'Welcome - ' + username}"></h3>
            <p th:text="${'You logged in as - ' + roles}"></p>

        <br/><br/>

        <div sec:authorize="hasRole('ROLE_ADMIN')"> <!--By default Spring Security will add prefix "ROLE_" to the actual role name-->
            <a class="home-btn" th:href="@{/displayMessages/page/1?sortField=name&sortDir=desc}"><h4>Display Contact Messages</h4></a>
            <a class="home-btn" th:href="@{/admin/displayApartments}"><h4>Display Apartments</h4></a>
            <a class="home-btn" th:href="@{/admin/displayUsers}"><h4>Display Users</h4></a>
        </div>

        <div sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/displayProfile}">
                <div class="icon">
                    <i class="fas fa-id-card"></i>
                </div>
                <div class="text">
                    <h2>Profile</h2>
                </div>
            </a>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</body>
</html>