<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div th:replace="header :: header"></div>
    <div class="main">

            <h3 th:text="${'Welcome to your dashboard, ' + username + '!'}"></h3>
            <i><p style="color: grey;" th:text="${'You logged in as - ' + roles}"></p></i>

        <br/><br/>

        <div sec:authorize="hasRole('ROLE_ADMIN')"> <!--By default Spring Security will add prefix "ROLE_" to the actual role name-->
            <a class="home-btn" th:href="@{/displayMessages/page/1?sortField=name&sortDir=desc}"><h4>Display Contact Messages</h4></a>
            <a class="home-btn" th:href="@{/admin/displayApartments}"><h4>Display Apartments</h4></a>
        </div>

        <div sec:authorize="hasRole('ROLE_USER')">
            <a class="home-btn" th:href="@{/displayProfile}">Profile</a>
            <a class="home-btn" th:href="@{/contact}">Contact Us</a>


        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</body>
</html>