<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer>
            <div>
                <h2>Contact Info</h2>
                <p class="mb-2 pe-xl-5">Address : Eazy School, 10001, 5th Avenue, #06 lane street, NY - 10017.
                </p>
                <p class="mb-2">Phone Number : <a href="tel:+1(21) 234 4567">+1(21) 673 4587</a></p>
                <p class="mb-2">Email : <a href="mailto:info@eazyschool.com">info@eazyschool.com</a></p>
            </div>
            <p>© 2022 RealEstate. All rights reserved</p>

    </footer>
</body>
</html>