<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <footer>
            <div>
                <h2>Contact Info</h2>
                <p>Address : REState, 5th Avenue, #06 lane street, NY - 10017.
                </p>
                <p>Phone Number : <a href="tel:+1(11) 111111">+1(11) 111111</a></p>
                <p>Email : <a href="mailto:info@restate.com">info@restate.com</a></p>
            </div>
            <p>© 2022 RealEstate. All rights reserved</p>

    </footer>
</body>
</html>