<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Gallery</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div th:replace="header :: header"></div>
    <div class="home-subheader">
        <div class="subheader-content">
            <h1>REState is a real estate gallery application that also provides various services. We do our best to make the process of searching for ideal housing the most comfortable for you by providing consultations, regularly updating our database of apartments and staying on touch with our clients!</h1>
            <br/>
            <h2>Currently we have <span th:text="${apartCount}"/> unique apartment options!</h2>
            <h2>There are <span th:text="${userCount}"/> active users on our website! </h2>
            <img src="img/logo.png" style="width: 50px; height: 50px;">
        </div>
        <img id="back-pic" src="img/homepanorama.jpg">
    </div>

    <div class="main">
        <h1>Hello, <span th:text="${username}"/>.</h1>
        <a class="home-btn" th:href="@{/gallery}">Browse available apartments!</a>
        <a sec:authorize="isAnonymous()" class="home-btn" th:href="@{/login}">Become one of us!</a>
        <a sec:authorize="hasRole('ROLE_USER')" class="home-btn" th:href="@{/displayProfile}">Check your profile!</a>
        <a class="home-btn" th:href="@{/contact}">Contact us!</a>
    </div>

    <div th:replace="footer :: footer"></div>

</body>
</html>