<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Gallery</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div th:replace="header :: header"></div>

    <div class="home-subheader">

        <div class="subheader-content">
            <h1>Hello, <span th:text="${username}"/>. Here will be cute gallery with our latest offers.</h1>
            <h1>Currently we have <span th:text="${apartCount}"/> unique apartment options!</h1>
            <h1>There are <span th:text="${userCount}"/> active users on our website! Become one of us! there will be a link to registration page.</h1>
        </div>
        <img src="img/homepanorama.jpg">
    </div>

    <div class="main">
        <div><a th:href="@{/gallery}">See our available apartments!</a></div>
    </div>

    <div th:replace="footer :: footer"></div>

</body>
</html>