<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <script>
        function validateForm (){
          if (document.getElementById('email').value === document.getElementById('confirmEmail').value &&
           document.getElementById('password').value === document.getElementById('confirmPassword').value )
            {
            return true;
            }
          else{
          var list_item = document.createElement('li');
          list_item.innerText = 'Test';
          document.getElementById('alert').appendChild(list_item);
          return false;
          }
        }
    </script>
    <div th:replace="header :: header"></div>

    <div class="main">
        <h3>Registration Form</h3>
        <div>
            <ul id="alert">
                <li id="alertJS" />
                <li role="alert" th:each="error : ${#fields.errors('user.*')}" th:text="${error}" />
            </ul>
            <form id="contact_form" th:action="@{/public/createUser}" method="post" th:object="${user}" onsubmit="return validateForm()">
                <p class="text-uppercase">Personal Details</p>
                <br/>
                <input  type="text" th:field="*{username}" placeholder="Name"/>
                <input type="text" th:field="*{mobile_number}" placeholder="Mobile Number"/>
                <br/>
                <input id="email" type="text" th:field="*{email}" placeholder="Email"/>
                <input id="confirmEmail" type="text"  placeholder="Confirm Email"/>
                <br/>
                <input id="password" type="password" th:field="*{password}" placeholder="Password"/>
                <input id="confirmPassword" type="password"  placeholder="Confirm Password"/>
                <br/>
                <button>Register</button>
            </form>
        </div>
    </div>

    <div th:replace="footer :: footer"></div>
</body>


</html>